/* Width - Height */

.w-full {
  width: 100%;
}

.h-full {
  position: absolute;
  top: 0px;
  /* Header Height */
  bottom: 0px;
  /* Footer Height */
}



.drop-shadow {
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 1)
}

.drop-shadow-exact {
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7))
}

.drop-shadow-white {
  box-shadow: 0px 0px 15px -5px rgb(255, 255, 255)
}

/* Color Palette 1: https://colorhunt.co/palette/343434e6b31efcfaf1cacaca
  Black, Yellow, White, Gray
*/


:root {
  --color-white: #FCFAF1;
  --color-black: #343434;
  --color-yellow: #E6B31E;
  --color-gray: #CACACA;
}

/* Text color */

.color-black {
  color: var(--color-black)
}

.color-yellow {
  color: var(--color-yellow)
}

.color-white {
  color: var(--color-white)
}

.color-gray {
  color: var(--color-gray)
}



/* Flex */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/* .flex-justify-start{
  justify-content: start;
}

.flex-justify-end{
  justify-content: end;
}

.flex-align-start{
  align-items: flex-start;
}

.flex-align-center{
  align-items: center;
}

.flex-align-end{
  align-items: flex-end;
} */

/* Background*/

.bg-size-fill {
  background-size: cover;
}

.bg-size-fit-w {
  background-size: 100%, auto;
}

.bg-black {
  background-color: var(--color-black)
}

.bg-yellow {
  background-color: var(--color-yellow)
}

.bg-white {
  background-color: var(--color-white)
}

.bg-gray {
  background-color: var(--color-gray)
}

.item-picture {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url('');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}



















/* Default */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}